/* jQuery Mobile overrides */
h1, h2, h3, p, span, input {font-family: 'Segoe UI', Helvetica, Arial, sans-serif;color: rgb(80, 80, 80); }
h2 { font-size: 1.1em;margin-bottom: 0.5em;}
li h3 { color: whitesmoke;}
span, input { color: whitesmoke;}
h1 span{color: rgb(80, 80, 80);}

.ui-page { background: rgb(217, 217, 217);}
.ui-body-a .ui-link:link {color:#E46C0A;}      /* unvisited link */
.ui-body-a .ui-link:visited {color:#E46C0A;}  /* visited link */
.ui-body-a .ui-link:hover {color:#77933C;}  /* mouse over link */
.ui-body-a .ui-link:active {color:#77933C;}  /* selected link */
.ui-content { margin-left: 100px;margin-right: 100px;margin-bottom: 50px;padding-top: 0;overflow-x: initial;}
.ui-footer span { font-weight: normal;color: #333;}
.ui-footer a {text-decoration: none;color: whitesmoke;}
.ui-bar h1 { font-size: 2.5em !important;font-weight: 100; }
.ui-loader {background: none;}
.ui-loader-verbose {-webkit-box-shadow: none; box-shadow: none;margin-left: 0;margin-top: 0;padding: 0;width: auto;background: none;opacity: .2;top: auto;}
.ui-loader-verbose .ui-icon {margin: 0; margin-top: 1em;margin-bottom: 1em;}
.ui-btn-inner {border-top: 1px solid transparent; border-color: transparent;}
.ui-shadow-inset { -webkit-box-shadow: none;box-shadow: none;}
.ui-icon-searchfield:after { opacity: 0.8;}

/* ui touch-up */
.header {margin: 70px 100px 22px 100px;position: relative;height: 60px;}
.header .heading { position: absolute;left: 0;bottom: 0;padding-left: 12px;}
.header .navigation {position: absolute;right: 0;bottom: 0; text-align: right;padding-bottom: 3px;padding-right: 15px;}
.header .navigation .ui-btn-inline { margin: .2em;vertical-align: baseline;}
.header .navigation a:hover { background: #E46C0A;}

.footer { font-size: 0.8em;padding: 15px; background: rgb(217, 217, 217); border: none;}

#mainPage .switchOrder { border: none; }
#mainPage .switchOrder .ui-btn-icon-notext { margin-bottom: -12px; }
#mainPage #favouriteRoutes { text-transform: uppercase;margin-top: 2pt;}
#mainPage #favouriteRoutes li {margin-top: 4pt;}
#mainPage #favouriteRoutes li:hover { border-left: #77933C solid 6pt;}
#mainPage #favouriteRoutes li:hover .ui-li-heading {margin-left: 0;}
#mainPage .ui-li-heading { font-size: 1.5em;margin: 6pt;}
#mainPage .selectFavourites {-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;font-weight: normal;text-align: left;background: #77933C;}
#mainPage .selectFavourites:hover { color: white;background: #E46C0A; }
#mainPage .switchOrder span { -webkit-box-shadow: none;box-shadow: none; }

#favouritesPage .newFavouriteForm .ui-br { border: none; }
#favouritesPage .newFavouriteForm ul { background: #E46C0A;margin-top: 3px;width: 300px;position: absolute;left: 0;-webkit-box-shadow: 1px 1px 0 rgb(168,168,168);box-shadow: 1px 1px 0 rgb(168,168,168);}
#favouritesPage .newFavouriteForm ul .ui-btn { margin: 0;}
#favouritesPage .stations li {background: none; border: none;padding: 0;z-index: 3;}
#favouritesPage .stations li label {border: none;background-image: none;background: #E46C0A; }
#favouritesPage .stations li label:hover {background: rgb(228, 115, 10); }
#favouritesPage .stations li .ui-btn-inner {background: none; border: none; }
#favouritesPage .searchFields {width: 300px;padding: 0; margin-top: 0.7em;-moz-box-shadow: none;-webkit-box-shadow: none; box-shadow: none;}
#favouritesPage .searchFields .ui-focus {-moz-box-shadow: 0 0 12px #E46C0A;-webkit-box-shadow: 0 0 12px #E46C0A;box-shadow: 0 0 12px #E46C0A;}
#favouritesPage .searchFields .ui-focus input {font-weight: bold;}
#favouritesPage .ui-input-search { background: #E46C0A;display: block;width: 300px;-moz-box-shadow: 1px 1px 0 rgb(168,168,168);-webkit-box-shadow: 1px 1px 0 rgb(168,168,168);box-shadow: 1px 1px 0 rgb(168,168,168);-moz-box-sizing: border-box;-webkit-box-sizing: border-box; box-sizing: border-box;}
#favouritesPage .ui-input-search input {color: whitesmoke; font-style: italic;padding-top: 6px;}
#favouritesPage .ui-input-search a { background: #E46C0A;border: none;-webkit-box-shadow: none;box-shadow: none;margin-top: -11px;}
#favouritesPage #favourites a {margin-left: 0; -moz-box-shadow: 1px 1px 0 rgb(168,168,168);-webkit-box-shadow: 1px 1px 0 rgb(168,168,168);box-shadow: 1px 1px 0 rgb(168,168,168); }
#favouritesPage #favourites a .ui-btn-inner { padding-bottom: 8px;}
#favouritesPage #saveRouteButton {background: #77933C; width: 150px;margin-left: 150px; -moz-box-shadow: 1px 1px 0 rgb(168,168,168);-webkit-box-shadow: 1px 1px 0 rgb(168,168,168);box-shadow: 1px 1px 0 rgb(168,168,168);}
#favouritesPage #saveRouteButton:hover {background: #E46C0A;text-shadow: none;}
#favouritesPage #saveRouteButton .ui-icon { display: none; }
#favouritesPage #saveRouteButton .ui-btn-inner { padding-left: 0;padding-right: 0; }
#favouritesPage #cannotSaveEqualToAndFromRoute { max-width: 280px;padding: 7px;}
#favouritesPage #cannotSaveEqualToAndFromRoute .ui-btn-text {display: none;}
#favouritesPage #cannotSaveEqualToAndFromRoute .ui-btn {left: auto; top: 0;right: 0;-moz-box-shadow: none;-webkit-box-shadow: none; box-shadow: none; }

#trainPage table { background: whitesmoke;font-weight: normal;width: 550px;margin: 0; border-spacing: 0; border-collapse: collapse;}
#trainPage table th { background: #E46C0A;padding: 8px; padding-left: 12px; color: whitesmoke;font-size: 1.5em;text-transform: uppercase;text-align: left; }
#trainPage table td { padding: 8px;padding-left: 12px;padding-bottom: 4px; color: #333;font-size: 1.5em;line-height: 1.2em;text-align: left; }
#trainPage table .alternate { background: rgb(228, 228, 228); }

#routesPage .heading .switch-direction { border-radius: 15px; vertical-align: inherit; margin-left: 10px;}
#routesPage #routes {margin: 0;background: none;width: 550px; }
#routesPage #routes li { margin: 0;margin-top: 10px; }
#routesPage #routes li:hover {-moz-box-shadow: 0 0 12px #E46C0A;-webkit-box-shadow: 0 0 12px #E46C0A;box-shadow: 0 0 12px #E46C0A; }
#routesPage #routes li:active {-moz-box-shadow: 0 0 12px #E46C0A;-webkit-box-shadow: 0 0 12px #E46C0A;box-shadow: 0 0 12px #E46C0A; }

#routesPage #routes li .routeInfo { padding: 0; }
#routesPage #routes li .ui-icon {margin: 0; position: absolute;right: 10px;top: 10px;z-index: 2; }
#routesPage #routes li .ui-li {border: none;}
#routesPage #routes table { background: whitesmoke;font-weight: normal;width: 550px;margin: 0; border-spacing: 0; border-collapse: collapse;}
#routesPage #routes table th { background: #E46C0A; padding-left: 12px; padding-bottom: 4px; color: whitesmoke;font-size: 1.5em;text-transform: uppercase; }
#routesPage #routes table th span { color: whitesmoke; }
#routesPage #routes table th i { font-weight: normal; }
#routesPage #routes table td {  padding-left: 12px;color: #333;font-size: 1.5em;line-height: 1.2em; }
#routesPage #routes table td span { color: #333; }
#routesPage #routes table td p { width: inherit;white-space: pre-wrap; }
#routesPage #routes .tighten { width: 230px;}
#routesPage #routes .departure { font-weight: bold; }
#routesPage #routes .track { font-weight: bold; }
#routesPage #routes .trainOperator { font-weight: bold;}
#routesPage #routes .notes {font-size: 1.2em;white-space: initial;padding-bottom: 5px; }
#routesPage #routes .lessAttention {font-weight: normal;}
#routesPage #noRoutesFoundPopup { max-width: 280px;padding: 7px;}
#routesPage #noRoutesFoundPopup .ui-btn-text {display: none;}
#routesPage #noRoutesFoundPopup .ui-btn {left: auto; top: 0;right: 0;-moz-box-shadow: none;-webkit-box-shadow: none; box-shadow: none; }

/* helpers */
.show { display: inline-block;}
.hide { display: none !important; }
.nighttimeInfo { display: none; }
.dark-blue {background-color: #376092; }
.greenish { background-color: #77933C; }
.bluish { background-color: #31859C; }
.greyish { background-color: #A6A6A6; }
.orangeish { background-color: #E46C0A; }
.no-shadow {-moz-box-shadow: none;-webkit-box-shadow: none; box-shadow: none; }

/* responsiveness */
.descriptive-text { display: block;margin-top: 0;margin-bottom: 21px; }

@media screen and (max-width: 1000px) {
    h2 { display: none;}
    .ui-bar h1 { font-size: 1.1em !important;}
    .descriptive-text, .direction {padding-left: 3px; display: none; }
    .logo { display: none; }
    .header {margin: 0 0.5em 0.5em 0.5em;height: 50px;}
    .header .heading { padding-left: 14px;}
    .header .navigation { top: 0;}
    .header .navigation .ui-btn-inline { margin: 0.1em;margin-top: 0;}
    .ui-content { margin-left: 8px;margin-right: 25px;margin-bottom: 0.5em;}
    
    #mainPage li {padding-bottom: 6px;padding-top: 6px;}
    #mainPage .ui-content .ui-listview{ margin: 0;}
    #mainPage .ui-li-heading { font-size: 0.9em;}
    #mainPage #favouriteRoutes li a { padding: 0; padding-left: 6pt;}
    #mainPage .switchOrder { width: 12px;}
    #mainPage .switchOrder .ui-btn { right: 0;}

    #favouritesPage .newFavouriteForm ul { width: 270px;}

    #routesPage #routes {width: 280px; }
    #routesPage #routes li .ui-icon { top: 4px;right: 7px; }
    #routesPage #routes table { width: 280px;}
    #routesPage #routes table th { font-size: 0.9em;line-height: inherit;padding-top: 4px; }
    #routesPage #routes table td { font-size: 0.9em;line-height: inherit; }
    #routesPage #routes .notes {font-size: 0.8em; line-height: inherit;}
    #routesPage #routes .tighten { width: 120px;}

    #trainPage table { width: 250px;}
    #trainPage table th {font-size: 0.7em;line-height: inherit; }
    #trainPage table td {font-size: 0.7em;line-height: inherit; }
}